@import url(https://db.onlinewebfonts.com/c/69f2576e7ca287875bf8d089130e292c?family=TT+Firs+Neue);

* {
    background-color: #000000;
    color: #ffffff;
    font-family: "TT Firs Neue";
}

header div {
    display: flex;
    flex-direction: row;
    margin: 10%;
    height: 50px;
    justify-content: space-between;
}

main {
    margin: 10%;
}

h2 {
    font-size: 22px;
    margin-bottom: 50px;
}

.sounds {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.pet {
    display: flex;
    flex-direction: row;
    height: 200px;
    justify-content: space-between;
    align-items: center;
}

.pet-photo {
    height: 200px;
    transform: rotate(6deg);
}
.sounds .pet:nth-child(even) .pet-photo {
    transform: rotate(-6deg);
}

.sounds .pet:nth-child(even) {
    flex-direction: row-reverse;
}

.btn img {
    background: transparent;
    height: 60px;
    width: 60px;
}

.btn {
    height: 100px;
    width: 100px;
    border-radius: 1000px;
    border: none;
    text-decoration: none;
    color: white;
    background: linear-gradient(116deg,#6e3ad7 0%, #cab3ff 100%);
    box-shadow: 0 5px 0 #875BE2;
}

.btn.pressed {
    background: #875BE2;
    box-shadow: none;
    transform: translateY(5px);
}